services:
  db:
    image: postgres:16.11
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env.db
  redis:
    image: redis:7.0.15
    restart: unless-stopped
    ports:
      - 6379:6379
  api:
    build: .
    restart: unless-stopped
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - SERVER_CMD=server
    depends_on:
      - db
      - redis
  worker:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SERVER_CMD=server:worker
    depends_on:
      - db
      - redis

volumes:
  pgdata:
